      <div class="intro-full ms-hero-img-black_wall ms-hero-bg-primary color-white " id="home">
        <div class="intro-full-content index-1">
          <div class="container" style="height: 100%">
            <div class="text-center mb-4">
              <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 ">
                <span class="animated animation-delay-35 fadeInUpBig">All</span>
              </h1>
              <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated lightSpeedIn animation-delay-7"><span class="ms-logo ms-logo-white ms-logo-sm"><i class="fa fa-search"></i></span> Encontre
                <span class="color-warning animated animation-delay-35 fadeInUpBig">tudo</span>
                <span class="animated lightSpeedIn animation-delay-14">na</span>
                <span class="animated lightSpeedIn animation-delay-20">sua</span>
                <span class="animated lightSpeedIn animation-delay-26">cidade</span>
              </p>

            </div>

            <div class="form-group label-floating col-md-8 center-block animated lightSpeedIn  animation-delay-7">
              <div class="input-group">
                  <input type="text" id="busca" class="form-control" class="search-input">
                  <button type="submit" class="btn btn-primary center-block">
                    <span class="color-white">pesquisar</span>
                  </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
          <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
      </div>